# Ignora pastas __pycache__
__pycache__/
*.py[cod]
*$py.class

# Ignora arquivos de ambiente virtual
venv/
.env/

# Ignora configurações de IDE
.vscode/
.idea/

# Ignora arquivos de cache e logs
*.log
*.tmp
*.swp
*.swo

# Ignora arquivos gerados pelo Python
*.egg-info/
dist/
build/